$regular: "Montserrat", sans-serif;
$pink: #d1397f;

@mixin text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
}

#es-rc #es-rc-content {
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  font-family: $regular;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  max-width: 990px;
  color: #000;
  background: #fff;

  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  p {
    margin: 0;
  }

  img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }

  sup {
    font-size: 0.7em;
  }

  ::selection {
    background: #f3cde4;
    color: #000;
  }

  .es-section-title {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
  }

  .es-kv {
    &__logo--mobile {
      max-width: 300px;
      margin: auto;
      position: relative;
      z-index: 1;
      margin-bottom: -6%;
    }

    &__text {
      display: flex;
      flex-direction: column;
      gap: 0.4em;
    }

    &__text p {
      background-color: $pink;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      padding: 4px 8px;
      font-weight: 700;
      font-size: 24px;
    }

    &__feature {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 170px;
      padding-block: 32px;
      margin: auto;
    }

    &__feature p {
      color: $pink;
      text-transform: uppercase;
      text-align: center;
      font-weight: 700;
      font-size: 14px;
      max-width: 150px;
      margin: auto;
    }

    &__bracket--open {
      border: 1px solid $pink;
      border-right: none;
      height: 50px;
      width: 10px;
    }

    &__bracket--close {
      border: 1px solid $pink;
      border-left: none;
      height: 50px;
      width: 10px;
    }

    &__disclaimer {
      font-size: 12px;
      text-align: center;
      text-wrap: balance;
      padding-block: 8px;
    }
  }

  .es-banner {
    background-color: $pink;
    color: #fff;
    padding: 16px 8px;
  }

  .es-features {
    &__action {
      padding: 32px 16px;
    }

    &__action--wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 16px;
      gap: 32px;
    }

    &__action--title {
      font-weight: 700;
      font-size: 32px;
      text-align: center;
      color: $pink;
    }

    &__action--text {
      font-weight: 700;
      display: flex;
      flex-direction: column;
      gap: 4px;
      align-items: flex-end;
      justify-content: space-between;
      text-align: right;
      font-size: 14px;
      height: 150px;
    }

    &__action--gradientBar {
      width: 25px;
      height: 150px;
      background: rgb(201, 62, 126);
      background: linear-gradient(
        180deg,
        rgba(201, 62, 126, 1) 0%,
        rgba(241, 169, 202, 1) 44%,
        rgba(255, 234, 243, 1) 100%
      );
      box-shadow: 7px 0px 6px 0px rgba(0, 0, 1, 0.4);
      border-radius: 99px;
    }
    &__wrapperTop {
      ::selection {
        background: $pink;
        color: #fff;
      }
    }
    &__wrapperBtm {
      margin-block: 30px;
      padding-inline: 16px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__single {
      width: 100%;
      padding: 10px;
    }

    &__img {
      overflow: hidden;
      border-radius: 16px;
    }

    &__img img {
      transition: all 300ms ease-in-out;
    }

    &__img img:hover {
      scale: 1.05;
    }

    &__textWrapper {
      height: 80px;
      padding: 8px;
      background-color: $pink;
      border-radius: 14px;
      margin-top: 14px;
      display: grid;
      place-items: center;
    }

    &__text {
      @include text;
      color: #fff;
      text-align: center;
      text-wrap: balance;
      font-weight: 500;
    }
  }

  .es-technology {
    text-align: center;
    text-wrap: balance;
    background-color: $pink;
    color: #fff;

    &__textWrapper {
      padding: 16px;
    }

    &__title {
      font-weight: 700;
      font-size: 24px;
      text-transform: uppercase;
      margin-bottom: 16px;
    }

    &__text--bold {
      font-weight: 700;
    }
  }

  .es-formula {
    margin: 20px auto 60px;

    &__title {
      @include text;
      margin: auto;
      padding: 20px 0;
      font-size: 35px;
      font-weight: 700;
      font-style: italic;
      color: $pink;
      text-align: center;
      width: 80%;
      text-transform: uppercase;

      & span {
        font-size: 20px;
      }
    }

    &__wrapper {
      padding-top: 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    &__left {
      max-width: 498px;

      & img {
        padding: 20px;
      }
    }

    &__right {
      max-width: 498px;
      background-size: auto;
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      gap: 20px 20px;
    }

    &__single {
      width: 250px;
      height: 250px;
      padding: 30px 10px;
      text-align: center;
      text-wrap: balance;
      background-color: #fff;
      border-radius: 20px;
      box-shadow: 1px 1px 15px 3px rgba(0, 0, 1, 0.1);
      transition: all 300ms ease-in-out;
    }

    &__single:hover {
      box-shadow: 1px 1px 15px 3px rgba(0, 0, 1, 0.2);
    }

    &__single img {
      max-width: 60px;
    }

    &__text--title {
      font-weight: 700;
      margin-block: 5px;
    }
  }

  .es-cross {
    margin: 20px auto;

    &__products {
      padding-top: 30px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__product {
      width: 150px;
      margin: 0 auto;
      margin-bottom: 32px;
      display: flex;
      flex-flow: column;
      align-items: center;

      &:hover .es-cross__link::before {
        transform: scaleX(1);
      }

      &:hover .es-cross__packshot {
        transform: translateY(-8px);
      }
    }

    &__packshot {
      transition: transform 0.6s;
      margin-bottom: 24px;
    }

    &__text {
      @include text;
      font-size: 13px;
      font-weight: 700;
      margin-bottom: 24px;
      text-align: center;
      height: 50px;
    }

    &__desc {
      @include text;
      margin-bottom: 8px;
      font-size: 16px;
    }

    &__link {
      @include text;
      position: relative;
      display: inline-block;
      padding: 8px 22px;
      text-decoration: none;
      color: #fff;
      border-radius: 10px;
      font-size: 15px;
      font-weight: 500;
      text-align: center;
      transition: all 0.3s ease-in-out;
      background: $pink;
      transition: color 0.3s ease-in-out;
      z-index: 1;

      &::before {
        content: "";
        position: absolute;
        border-radius: 10px;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        background-color: #902255;
        transition: transform 0.3s ease-in-out;
        transform: scaleX(0);
        transform-origin: left;
      }
    }

    &__img {
      transition: all 0.3s ease-in-out;
    }
  }

  .es-footer {
    margin: 0 auto;
    text-align: center;
    font-size: 10px;

    &__logo {
      padding-block: 40px;
      width: 200px;
    }

    &__gradientBg {
      background: rgb(18, 90, 40);
      background: linear-gradient(
        90deg,
        rgba(18, 90, 40, 1) 0%,
        rgba(19, 106, 48, 1) 25%,
        rgba(19, 116, 52, 1) 50%,
        rgba(18, 110, 50, 1) 75%,
        rgba(18, 90, 40, 1) 100%
      );
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      padding-block: 32px;
      gap: 24px;
    }
  }

  @media screen and (min-width: 576px) {
    .es-kv {
      position: relative;
      background-color: #f4ecf2;

      &__logo--mobile {
        display: none;
      }

      &__img {
        position: relative;
        z-index: 1;
      }

      &__text {
        position: absolute;
        top: 24%;
        width: 45%;
        z-index: 0;
      }

      &__text p {
        font-size: clamp(16px, -0.696px + 2.8986vw, 28px);
        text-align: left;
      }

      &__features {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 71%;
        left: 45%;
        z-index: 1;
        display: flex;
        width: max-content;
        gap: 38%;
        justify-content: center;
        align-items: center;
        &__left,
        &__right {
          display: flex;
          flex-direction: column;
          gap: 16px;
        }
      }
      &__feature {
        padding-block: 0;
      }

      &__disclaimer {
        position: absolute;
        bottom: 0;
        right: 0;
        text-align: left;
        z-index: 2;
        font-size: 8px;
        font-weight: 500;
        max-width: 21%;
        padding: 4px 8px;
        text-wrap: unset;
      }
    }

    .es-features {
      &__wrapperTop {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        z-index: 1;
        aspect-ratio: 976 / 454;
      }

      &__imgL {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
      }

      &__action--title {
        font-size: 24px;
        text-align: right;
        margin-right: 24px;
      }

      &__single {
        width: 30%;
        font-size: 14px;
      }
    }

    .es-technology {
      position: relative;
      background-color: unset;

      &__textWrapper {
        position: absolute;
        transform: translate(0%, -50%);
        top: 50%;
        left: 2%;
        width: 75%;
        max-width: 440px;
      }
    }

    .es-cross {
      &__product {
        justify-content: flex-end;
      }
    }

    .es-footer__img {
      width: 27%;
    }
  }

  @media (min-width: 640px) {
    .es-kv {
      &__features {
        gap: 42%;
        left: 46%;
      }
    }
    .es-features__action {
      padding: 48px 24px;
    }
  }

  @media (min-width: 710px) {
    .es-kv {
      &__features {
        left: 45.5%;
        width: 100%;
        max-width: 400px;
      }
      &__feature {
        max-width: 155px;
      }
    }
  }

  @media (min-width: 768px) {
    .es-kv {
      &__feature {
        max-width: 200px;
        p {
          font-size: 17px;
          max-width: 165px;
        }
      }
    }

    .es-kv__bracket--open,
    .es-kv__bracket--close {
      height: 80px;
      width: 20px;
    }

    .es-features {
      &__wrapperTop {
        padding-inline: 24px;
      }

      &__action--text {
        height: 200px;
      }

      &__action--gradientBar {
        height: 200px;
      }

      &__wrapperBtm {
        padding-inline: 24px;
      }
    }

    .es-formula {
      &__left {
        width: 50%;
        display: flex;
        align-items: center;
      }

      &__right {
        width: 50%;
      }

      &__single {
        width: 45%;
        font-size: 14px;
      }

      &__text--title {
        margin-block: 10px;
      }
    }
  }

  @media (min-width: 992px) {
    .es-kv {
      &__features {
        left: 46.5%;
        width: 100%;
        max-width: 550px;
      }
    }
    .es-features {
      &__action {
        margin-right: 64px;
      }

      &__action--title {
        font-size: 30px;
        margin-bottom: 16px;
      }

      &__action--text {
        font-size: 18px;
      }
    }
  }
}
